.sale-main{
    border-top: 1px solid #a8a5a5;
    line-height: 2;
}

.sale-main ul{
    display: flex;
    list-style: none;
    gap: 30px;
    border-bottom: 1px solid #c8c5c5;
line-height: 3;
}

.Saleproduct{
    position: relative;
}



.Saleproduct .slider-cart {
    position: absolute;
    z-index: 11111;
    bottom: 22%;
    right: 5%;
    cursor: pointer;
   
    display: none;
}

.Saleproduct:hover .slider-cart {
display: block;
gap: 7px;

}

.Saleproduct small {
color: black;
display: -webkit-inline-box;
-webkit-line-clamp: 1;
-webkit-box-orient: vertical;
overflow: hidden;
clear: both;
}


.Saleproduct p {
    color: black;
    font-weight: 600;
}


.Saleproduct small {
    color: black;

}

.Saleproduct s {
    color: red;
}



.sale-inner-banner img{
width: 100%;
height: 450px;
    object-fit: cover !important;

}

.Saleproduct{
    margin-top:30px;
}

.sale-inner-banner{
    margin-top:30px;
}